:root {
  --primary-colour: #090e13;
  --secondary-colour: #c2bdaf;
  --heading-font-family: "Montserrat", sans-serif;
  --paragraph-font-family: "Roboto", sans-serif;
  --highlight-colour: #20748a;
}

body {
  color: white;
  background: var(--primary-colour);
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  text-transform: uppercase;
  line-height: 110%;
  margin-bottom: 24px;
}

h1 {
  font-size: 48px;
  letter-spacing: 6px;
}

h2 {
  font-size: 36px;
  letter-spacing: 4px;
}

h3 {
  font-size: 32px;
  letter-spacing: 4px;
}

h4 {
  font-size: 20px;
  margin-bottom: 24px;
  letter-spacing: 2.5px;
}

p {
  font-family: var(--paragraph-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 0.8);
}

a {
  color: var(--highlight-colour);
  font-weight: bold;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  position: fixed;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 2;
  top: 0;
}

nav.scrolled {
  background-color: rgba(9, 14, 19, 0.5);
  backdrop-filter: blur(10px);
}

.nav-links,
.footer-links {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.nav-links a,
.footer-links a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  letter-spacing: 2px;
}

.nav-links .active {
  color: white;
}

.nav-links a:hover,
.footer-links a:hover {
  color: white;
}

img {
  border-radius: 3px;
}

svg {
  color: var(--highlight-colour);
}

ul {
  margin-bottom: 24px;
  list-style-type: none;
  padding-left: 0px;
}

li {
  display: inline;
  margin-right: 8px;
  font-family: var(--paragraph-font-family);
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

input {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  border: none;
  padding: 12px 16px;
  color: white;
  width: 100%;
  margin-bottom: 12px;
}
.p-large {
  font-size: 18px;
  font-weight: 300;
}

button {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  border-radius: 4px;
  padding: 12px 16px;
  background-color: white;
  color: var(--primary-colour);
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
  border: none;
}

button:hover {
  background-color: var(--highlight-colour);
}

.secondary-button {
  background-color: var(--primary-colour);
  color: white;
  font-weight: 300;
}

.secondary-button:hover {
  background-color: var(--highlight-colour);
  color: var(--primary-colour);
}

.double-button {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.hero {
  background-image: url("/images/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.hero h1 {
  font-size: 64px;
  letter-spacing: 8px;
}

main {
  padding: 0 40px;
}

.centred-text {
  max-width: 844px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.feature-section {
  max-width: 1100px;
  text-align: center;
  margin: 120px auto;
}

.feature-section h2 {
  margin-bottom: 64px;
}

.feature-section h4 {
  margin: 24px 0 16px;
}

.checker {
  display: flex;
  margin-bottom: 120px;
}

.checker-image {
  overflow: hidden;
  flex: 1;
}

.checker img {
  width: 100%;
  max-height: 100%;
  height: 500px;
  object-fit: cover;
}

.checker-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

.checker-text {
  max-width: 500px;
}

.checker-form {
  width: 500px;
}

.input-field {
  width: 100%;
}

label {
  margin-bottom: 8px;
  font-family: var(--paragraph-font-family);
  font-weight: 300;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.input-two {
  display: flex;
  gap: 12px;
}

.form-button {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  border-radius: 4px;
  padding: 12px 16px;
  background-color: white;
  color: var(--primary-colour);
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
  border: none;
  margin-top: 12px;
}

.form-button:hover {
  background-color: var(--highlight-colour);
}

select {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 16px;
  font-weight: 300;
  appearance: none;
  background-image: url("/images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.2em;
  width: 100%;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  margin-bottom: 12px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) hue-rotate(180deg);
}

.checker h3 {
  margin-bottom: 12px;
}

.checker p {
  margin-bottom: 24px;
}

.faq-section h2 {
  text-align: center;
}

.accordion {
  max-width: 800px;
  margin: 64px auto;
}

.accordion p {
  color: rgba(255, 255, 255, 0.8);
}

.accordion .p-large {
  margin: 0;
  color: white;
  text-transform: none;
  letter-spacing: normal;
}

.accordion-item {
  background-color: transparent;
  border: 1px solid white;
}

.accordion-button {
  background-color: transparent;
}

.accordion-button:hover {
  background-color: transparent;
}

.accordion-button::after {
  color: white;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.page-header {
  margin: 120px 0 80px 0;
  text-align: center;
}

.text-wide-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.wide-img {
  max-width: 1080px;
  margin-top: 40px;
  overflow: hidden;
}

.wide-img img {
  width: 100%;
  max-height: 100%;
  height: 500px;
  object-fit: cover;
}

.cabin-header {
  margin-top: 120px;
}

.cabin-header h1 {
  margin-bottom: 16px;
}

.cabin-header button {
  margin-bottom: 40px;
}

.location {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.location h4 {
  margin: 0 0 0 8px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  grid-gap: 12px;
  margin-bottom: 120px;
}

.gallery-item {
  height: 450px;
  overflow: hidden;
  position: relative;
}

.gallery-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 120px auto 40px auto;
  font-size: 14px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.footer-text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

@media (max-width: 1079px) {
  .checker {
    flex-direction: column;
    margin-bottom: 80px;
  }

  .checker-content {
    order: 2;
    margin-top: 40px;
  }

  .checker-text {
    max-width: 100%;
  }

  .checker img {
    height: 400px;
    width: 100%;
  }

  .checker-content {
    padding: 0;
  }

  .checker-form {
    width: 100%;
  }

  .nav-text-link {
    display: none;
  }

  .active {
    display: none;
  }
}

@media (max-width: 700px) {
  main {
    padding: 0 16px;
  }

  h1 {
    font-size: 40px;
  }

  .hero h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24x;
  }

  h4 {
    font-size: 18px;
  }

  .p-large {
    font-size: 16px;
  }

  nav {
    padding: 24px;
    justify-content: center;
  }

  .nav-links {
    display: none;
  }

  .double-button {
    flex-direction: column;
  }

  .hero {
    padding: 24px;
  }

  .feature-section {
    max-width: 80%;
    margin: 80px auto;
  }

  button {
    width: 100%;
  }

  .checker-content {
    padding: 0;
  }

  .text-wide-img {
    margin-bottom: 64px;
  }

  .text-wide-img p {
    text-align: left;
  }

  .wide-img {
    margin-top: 24px;
  }

  .gallery {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 80px;
  }

  .logo img {
    height: 18px;
  }
}
